# Python을 이용한 FP-Tree 구현

## 1. 테스트 데이터 생성
- Let_I: item의 항목 집합
- trans_action_database: transaction들에 대한 DB

In [ ]:
from random import seed # 랜덤 숫자 생성을 위한 key, 동일한 결과 유지
from random import randrange # 0 부터 a까지(a를 포함하지 않는)의 정수를 랜덤으로 생성
from random import randint # a부터 b까지의 정수를 랜덤으로 생성

seed(1) 

Let_I = ['치킨', '피자', '햄버거', '족발', '라면', '우동', '비빔밥', '아이스크림']

for i in 
# Integer from 0 to 9 inclusive
number = randrange(10)
print(number)

In [2]:
import numpy as np
import pandas as pd

data = np.array([
                 ['치킨','피자','샴푸'],
                 ['수세미','물티슈','비누'],
                 ['휴지','수세미','물티슈','비누'],
                 ['수세미','비누']
])

df_data = pd.DataFrame(data=data, columns=['items'])
df_data

C:\Users\is041\AppData\Local\Temp\ipykernel_26788\2073299703.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

                items
0       [휴지, 물티슈, 샴푸]
1      [수세미, 물티슈, 비누]
2  [휴지, 수세미, 물티슈, 비누]
3           [수세미, 비누]

In [ ]:
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(data).transform(data)

df = pd.DataFrame(te_array, columns=te.columns_)

df

In [2]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (물티슈)
1     0.50            (휴지)
2     0.75           (수세미)
3     0.75            (비누)
4     0.50       (비누, 물티슈)
5     0.50      (수세미, 물티슈)
6     0.50  (비누, 수세미, 물티슈)
7     0.50       (휴지, 물티슈)
8     0.75       (비누, 수세미)